<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484697789909-j44kdjis93e1hv8hru7v5f1nqbuhd88r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484697789909-j44kdjis93e1hv8hru7v5f1nqbuhd88r</string>
	<key>API_KEY</key>
	<string>AIzaSyBu4g3Bmk9Y_g5BsFLboH0M7QwbIqZTBUE</string>
	<key>GCM_SENDER_ID</key>
	<string>484697789909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damU4Proyecto117401335</string>
	<key>PROJECT_ID</key>
	<string>proyecto1-d58a1</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto1-d58a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484697789909:ios:c9f29927cace539ba5595c</string>
</dict>
</plist>